body{
    background-color: #eee;
}
body > div.big-wrapper{
    width: 630px;
    padding: 30px;
    margin: 30px auto;
    background-color: #fff;
    -moz-box-shadow: 1px 1px 12px #555; 
    -webkit-box-shadow: 1px 1px 12px #555; 
    box-shadow: 1px 1px 12px #555; 
}

.bs-docs{
    margin-bottom: 15px;
}

header{
    padding-bottom: 50px;
}

hr{
    border-top: 1px solid #ccc;
}
